.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.madeBy {
  padding: 16px;
  margin: 24px 0;
  border-radius: 10px;
  font-size: 12px;
  background-color: #f37a6f;
}

.madeByLink {
  color: #fff;
}

@media (max-width: 400px) {
  .madeBy {
    margin: 24px 8px;
  }
}
