.app {
  composes: inner from "./theme.module.css";
  width: 100%;
  max-width: 850px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.title {
}
