.inner {
  color: #fff;
  background: #58c8c6;
}
.btn {
  color: #fff;
  background: #00324d;
}

/* 
  ** Color Guides **
  
  babyBlue: #58c8c6
  eggYellow: #f2cd5d;
  salmon: #f37a6f;
  heavyRain: #00324d; 
  
  */
